*{
    margin: 0px;
}

@mixin centerPosition{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

$dvChildWidth: 90%;
$marginBottom:10px;
.webContainer{
    height: 90vh;
    @include centerPosition();
    
}
main{
    width: 80%;
    height: 90%;
    @include centerPosition();
    flex-direction: row;
    min-height: 300px;
    
}
section{
    height: 100%;
    width: 70%;
    background-color: blue;
    @include centerPosition();
    max-width: 700px;
    

    .dvInputContainer{
        width: $dvChildWidth;
        @include centerPosition();
        flex-direction: row;
        margin-bottom: $marginBottom;
    }
    input{
        width: 70%;
        height: 40px;
    }
    .txtFindQuest{
        margin-bottom: $marginBottom;
    }
    button{
        height: 45px;
    }
    .dvListContainer{
        background-color: purple;
        height: 70%;
        width: $dvChildWidth;
        overflow-y: auto;
        margin-bottom: 10px;
    }
    .btnClear{
            height: 45px;
            width: $dvChildWidth;
    }
        
    }
    ul{
        list-style-type:georgian;
        margin: 0;
        li{
        border-style: solid;
        border-color: white;
        margin-bottom: 10px;
        }
    }
    

aside{
    background-color: red;
    height: 100%;
    width: 30%;
    max-width: 400px;
    img{
        width: 40%;
        min-width: 120px;
    }
    .dvDialogue{
        background-color: black;
        color:white;
        width:100%;
        height: 40%;
    }
    
}