*{
    margin: 0px;
}
@mixin centerPosition{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

$dvChildWidth: 90%;

.webContainer{
    height: 90vh;
    @include centerPosition();
    
}
main{
    width: 80%;
    height: 90%;
    @include centerPosition();
    flex-direction: row;
    
    
}
section{
    height: 100%;
    width: 70%;
    background-color: blue;
    @include centerPosition();
    max-width: 700px;
    

    .dvInputContainer{
        width: $dvChildWidth;
        @include centerPosition();
        flex-direction: row;
    }
    input{
        width: 70%;
        height: 40px;
    }
    button{
        height: 45px;
    }
    .dvListContainer{
        background-color: purple;
        height: 70%;
        width: $dvChildWidth;
        overflow-y: auto;
        
    }
    
}
aside{
    background-color: red;
    height: 100%;
    width: 30%;
    max-width: 400px;
    .dvDialogue{
        background-color: black;
        color:white
    }
    
}