*{
    font-family: 'Pixelify Sans';
}
@mixin borderConfig{
    border-style: solid;
    background: black;
    border-color: white;
}

@mixin buttonConfig{
    background-color: transparent;
    border-color: white;
    border-style: solid;
}

html{
    background-color: black;
}
header{
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}
.uiSection{
    @include borderConfig();
}

.uiListContainer{
    @include borderConfig();
}
.uiAside{
     @include borderConfig();
}
.btnQuestComplete{
    position: absolute;
    right: 0;
    height: 100%;
    background-color: transparent;
    border: none;
    color: red;
    font-size: 18px;
}
.btnAdd{
    @include buttonConfig();
    color: #009705;
    margin-left: 10px;
    &:hover{
        background-color: rgba(89, 88, 88, 0.785);
    }
    &:active{
        background-color: rgba(226, 230, 226, 0.785);
    }
}
.btnClear{
    @include buttonConfig();
    color: #DA1812;
    font-size: 18px;
    margin-bottom: 5px;
     &:hover{
        background-color: rgba(89, 88, 88, 0.785);
    }
    &:active{
        background-color: rgba(226, 230, 226, 0.785);
    }
}
.dvFlowey{
    display: flex;
    justify-content: center;
    flex-direction: row;
}